body {
    background-color: #F5EFE6;
    color: #4B2E05;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1,
h2 {
    color: #7B3F00;
    font-family: 'Poppins', sans-serif;
}

p,
li {
    font-size: 1rem;
}