.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        /* Exibe o botão hambúrguer */
    }

    .navbar .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar .menu.active {
        display: flex;
        /* Mostra o menu quando ativo */
    }
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* Espaçamento entre os botões */
}

.nav-item {
    background-color: #ebe69f;
    /* Cor de fundo do botão */
    transition: background 0.3s, color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    /* Faz o link preencher o botão */
}

.nav-item:hover {
    background-color: #c2ab70;
    color: black;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-item {
        width: 80%;
    }
}